body{
	font-size: 18px;
	font-weight: 300, 400, 700;
	font-family: Public Sans;
	background: hsl(0, 0%, 98%);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

p {
	color: #959fa9a6;
}

h3 {
	color: #2f2f4f;
}
/* CSS Variables */
:root {
  --highlight-color: invert(0.13) sepia(0.5) saturate(14) hue-rotate(86.4deg) brightness(0.83);
  --button-color: linear-gradient(45deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  --button-curve: 24px;
  --button-spacing: 12px 38px 12px 38px;
  --button-outline: none;
  --button-border: none;
  --button-textcolor: #fff;
  --button-stretch: #2fc791 ;
  --highlight-cursor: pointer;
}
/* General Button Style */

/* Header Styles */
._header {
	height: 60px;
    margin-top: 0px;
    background: white;
    border-bottom: 1px solid hsl(0, 100%, 98%);
}
.logo {
    margin: 20px 0 16px 145px;
    position: relative;
    z-index: 2;
}
._header img:hover {
    cursor: var(--highlight-cursor);
}
.links {
    position: relative;
    z-index: 2;
}
.links li {
	list-style: none;
	display: inline;
    margin: 0 8px 0 8px;
}
.links li a {
	text-decoration: none;
	color: hsl(220deg 2% 62%);
}
.links a:hover {
    cursor: var(--highlight-cursor);
    filter: var(--highlight-color);
    /*text-decoration: underline;
    border-bottom: 2px solid var(--highlight-color);
    padding-bottom: 10px;*/
   /* text-decoration: underline;
    text-underline-position: under;
    text-decoration-skip: ink;*/
    text-decoration-line: underline;
    text-underline-offset: 6px;
    padding-bottom: 4px;

}
.link-box {
	margin-left: 454px;
	position: relative;
	bottom: 59px;
}
._btn {
    position: relative;
	float: right;
    margin: -47px 177px 0 0;
    padding: var(--button-spacing);
    border: var(--button-border);
    border-radius: var(--button-curve);
    outline: var(--button-outline);
    background-image: var(--button-color);
    color: var(--button-textcolor);
    cursor: var(--highlight-cursor);
    z-index: 2;
    
}
 .head-btn-div button:hover {
    cursor: var(--highlight-cursor);
    border: 1px solid var(--button-stretch);
}

/* first section styles */
._main_banner {
	display: flex;
	justify-content: space-between;
	position: absolute;
}
.banner-img {
	position: absolute;
	left: 0;
	top: 0;
}
.banner-background {
	position: relative;
    top: -215px;
    left: 542px;
    z-index: -4;
}
.banner-phone {
	position: absolute;
    top: -81px;
    left: 706px;
    height: 94%;
    z-index: -1;
}
.banner-text {
    padding-right: 353px;
    margin: 10px 0 0 145px;
    font-size: 16px;
}
h3.banner-title {
	font-size: 43px;
    margin: 166px 0 0 145px;
    white-space: nowrap;
}
.banner-btn {
	margin: 20px 0 0 145px;
    position: absolute;
    padding: var(--button-spacing);
    border: var(--button-border);
    border-radius: var(--button-curve);
    outline: var(--button-outline);
    background-image: var(--button-color);
    color: var(--button-textcolor);
    cursor: var(--highlight-cursor);
    z-index: 2;
}
.btn-div button:hover {
    cursor: pointer;
    border: 1px solid var(--button-stretch);
}

/* second section styles */
._second-section {
	position: relative;
    margin-top: 253px;
    height: 540px;
    background: hsl(0deg 0% 94%);
    z-index: -4;
}

.content-box {
	display: flex;
    justify-content: space-between;
    margin: 148px 170px;
}

.content-box-img {
	position: relative;
    left: -30px;
    padding-bottom: 22px;
}

.content-box-title {
	font-size: 20px;
   	margin: 24px 0px 0px -30px;
    color: hsl(233, 26%, 24%);
}

.content-box-text {
    padding: 10px 100px 0 0;
    margin: 20px -30px;
    font-size: 14px;
}

.second-box-title {
	position: relative;
    top: 100px;
    left: 145px;
}

.second-box-text {
	position: relative;
    top: 100px;
    left: 145px;
}

/* third section styles */
.article-content {
	display: flex;
	justify-content: space-around;
    margin: 148px 145px;
}

.third-section-title {
	position: relative;
	top: 100px;
	left: 145px;
}

img.card-content-img {
	position: relative;
    left: 0px;
    top: 10px;
    width: 252px;
    border-radius: 7px;
    padding-bottom: 22px;
}

.card-content {
	background: #fff;
    border: 1px solid #0000000f;
    border-radius: 8px;
    margin: 0px 4px;
    padding: 0px 5px;
    position: relative;
    z-index: 3;
}

label.card-content-author {
	position: relative;
    top: 11px;
    font-size: 12px;
    left: 15px;
}

h6.card-content-title {
	font-size: 16px;
    color: #0a0a18;
    padding-left: 15px;
}

p.card-content-text {
	margin-top: -23px;
    font-size: 12px;
    padding-left: 15px;
}
.card-content h6:hover {
    cursor: pointer;
    color: var(--button-stretch);
}

/*  CSS style for the first card with a diiferent image size */

.card-content-img-currency {
	position: relative;
    left: 0;
    top: 10px;
    height: 166px;
    width: 252px;
    border-radius: 7px;
    padding-bottom: 22px;
}

.card-content-author-currency {
	position: relative;
    top: 11px;
    font-size: 12px;
    left: 15px;
}

.card-content-title-currency {
	font-size: 16px;
    color: #0a0a18;
    padding-left: 15px;
}

.card-content-text-currency {
	margin-top: -23px;
    font-size: 12px;
    padding-left: 15px;
}

/* footer styles */

._footer {
	display: flex;
	justify-content: space-around;
	background: #2f2d4af2;
    height: 200px;
}

.footer-btn {
	margin: 56px 0 0 -40px;
    padding: var(--button-spacing);
    border: var(--button-border);
    border-radius: var(--button-curve);
    outline: var(--button-outline);
    background-image: var(--button-color);
    color: var(--button-textcolor);
    cursor: var(--highlight-cursor);
}
.footer-content-4 button:hover {
    cursor: var(--highlight-cursor);
    border: 1px solid var(--button-stretch);
}

.footer-copy {
    font-size: 16px;
    margin: 136px 0 0 -516px;
    padding: 0px 155px 0px 0px;
}

.footer-content-1 {
	flex: 1;
}
.footer-content-2 {
	flex: 0.8;

}
.footer-content-3 {
	flex: 2.5;
}
.footer-content-4 {
	flex: 1.8;
}

.footer-links {
	padding-left: 100px;
    margin-top: 65px;
}
.footer-links li {
	list-style: none;
    color: var(--button-textcolor);
    margin: 40px 0 -32px 0;
}
.footer-links li a {
	text-decoration: none;
	color: var(--button-textcolor);
    font-size: 14px;
    font-weight: normal;
}
.footer-links a:hover {
    cursor: var(--highlight-cursor);
    filter: var(--highlight-color);
}
.footer-social-links {
    padding: 20px 0 0 143px;
}
.footer-social-links li {
	list-style: none;
	display: inline;
	margin: 0px 2px;
}

.footer-social-links a {
    background: none;
    mask-size: cover;
}
.footer-social-links a:hover, 
.footer-social-links a:focus {
    cursor: var(--highlight-cursor);
    filter: var(--highlight-color);
    
}
.footer-logo {
    margin: 65px 0 0 145px;
    /*fill: white;*/
}



