body {
	font-size: 18px;
	font-weight: 300, 400, 700;
	font-family: [Public Sans](https://fonts.google.com/specimen/Public+Sans);
}

._header {
	height: 50px;
	background: white;
	border-bottom: 1px solid grey;

}

.logo {
	margin-left: 120px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.links li {
	list-style: none;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	color: hsl(220deg 2% 62%);
}

.links li a {
	text-decoration: none;
	color: hsl(220deg 2% 62%); 
}

.links li a:hover  {
	text-decoration: underline;
	color: hsl(220deg 2% 62%); 
}

.link-box {
	margin-left: 430px;
	margin-top: -60px;
}

._btn {
	float: right;
	margin-right: 230px;
	margin-top: -42px;
	border-radius: 24px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 16px;
	padding-right: 16px;
	background: hsl(159deg 61% 48%);
	color: white;
	border: hsl(159deg 61% 48%);
}